.heroContent {
  width: 100%; height: auto; padding: 0; margin: 0; position: relative;
  @media all and (min-width: 992px) {
    &:hover {
      & .btnSlideProd {
        opacity: 1.0;
      }
    }
  }
}
.slideBox {
  width: 100%; height: 400px; padding: 0; margin: 0; position: relative; overflow: hidden;
  & img {
    display: block; width: 100%; height: auto; padding: 0; margin: 0; object-fit: cover; font-family: "object-fit: cover";
  }
  & figcaption {
    width: 100%; max-width: 100%; height: auto; padding: 0 40px; margin: 0; @include position(absolute, 50% null null null); z-index: 3; text-align: center; @include box-sizing(border-box);
    & h1 {
      @include fluid-type(20px, 40px, 320px, 1200px); margin: 0;
    }
    & hr {
      margin-top: 15px; margin-bottom: 15px; width: 100%; height: auto; border-bottom: 1px solid $col6;
    }
    & p {
      @include fluid-type(14px, 16px, 320px, 1200px); font-family: $monitali; margin: 0;
      & strong,
      & b {
        color: inherit; font-family: $monsemi;
      }
    }
    & .btnpr {
      margin: 20px auto 0; display: block;
    }
  }
  &.center-slide {
    & figcaption {
      left: 50%; @include transform(translate(-50%, -50%));
    }
  }
  &.right-slide {
    & figcaption {
      right: 0; @include transform(translate(0, -50%));
    }
  }
  &.left-slide {
    & figcaption {
      left: 0; @include transform(translate(0, -50%));
    }
  }
  @media all and (min-width: 556px) {
    height: 500px;
    & figcaption {
      max-width: 380px; padding: 0;
    }
    &.right-slide {
      & figcaption {
        right: 50px;
      }
    }
    &.left-slide {
      & figcaption {
        left: 50px;
      }
    }
  }
  @media all and (min-width: 768px) {
    height: 600px;
    & figcaption {
      max-width: 400px; padding: 0;
    }
  }
  @media all and (min-width: 992px) {
    height: 700px;
    & figcaption {
      max-width: 450px; padding: 0;
    }
    &.right-slide {
      & figcaption {
        right: 100px;
      }
    }
    &.left-slide {
      & figcaption {
        left: 100px;
      }
    }
  }
}
.overlaySlide {
  @extend .overlayClassAbs; background-color: rgba($black, 0.20); z-index: 2;
}