body {
  font-family: $monregular;
  color: $c5!important;
  &.bloquear {
    overflow: hidden; position: fixed; width: 100%;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $maderegular!important; margin: 0 0 15px;
}

p {
  font-family: $monregular;
}

body,
input,
textarea,
button,
select {
  -webkit-font-smoothing: antialiased;
  text-size-adjust: 100%;
}

a:focus {
  color: inherit;
}
