/* ==|====================
   Module/Box
   ======================= */
   
// Cards Promos Small
.figProducto {
  width: 300px; height: 350px; background-color: $white; @include box-sizing(border-box); padding: 0; margin: 0 0 20px 0; position: relative; overflow: hidden; -webkit-border-radius: 10px 0 10px 10px; border-radius: 10px 0 10px 10px; box-shadow: 0 0 10px rgba($black, 0.20);
  &__img {
    width: 100%; height: 172px; position: relative; overflow: hidden; padding: 0; margin: 0; background-color: $white;
    img {
      width: auto; height: auto; display: block; margin: 0 auto; object-fit: cover; font-family: "object-fit: cover"; @include position(absolute, 0 null null 50%); z-index: 1; @include transform(scale(1.0) translateX(-50%)); @include transition(transform 400ms);
    }
    a {
      @extend .overlayClassAbs; z-index: 2; text-indent: -9999px; font-size: 0;
    }
    &:hover {
      img {
        @include transform(scale(1.04) translateX(-50%));
      }
    }
  }
  &__cap {
    width: 100%; height: auto; padding: 20px 20px 0; margin: 0; @include box-sizing(border-box); position: relative;
  }
  @media all and (min-width: 768px) {
    height: 362px;
  }
}

// Card Promo Home 
.figPromoHome {
  width: 100%; background-color: $col3; @include box-sizing(border-box); padding: 0; margin: 0; position: relative; overflow: hidden; -webkit-border-radius: 0; border-radius: 0; box-shadow: none;
  &__img {
    width: 100%; height: 100%; position: relative; overflow: hidden; padding: 0; margin: 0; background-color: $white;
    img {
      width: 100%; height: auto; display: block; margin: 0 auto; object-fit: cover; font-family: "object-fit: cover"; position: relative; z-index: 1; @include transform(scale(1.0)); @include transition(transform 400ms);
    }
  }
  &__cap {
    width: 100%; height: auto; padding: 20px; margin: 0; @include box-sizing(border-box); @include position(absolute, null null 0 0); z-index: 3; text-align: left;
    & p {
      font-family: $monsemi; margin: 0; padding: 0; @include fluid-type(16px, 22px, 320px, 1216px); line-height: 1.2;
      strong, b {
        font-family: $monbold; color: inherit;
      }
    }
  }
  .overlayBoxPromo {
    @extend .overlayClassAbs; background-color: rgba($col6, 0.15); z-index: 2;
  }
  .btnOverGrid {
    @extend .overlayClassAbs; z-index: 3; text-indent: -9999px; font-size: 0;
  }

  &:first-child {
    height: 200px; grid-column-end: 1; grid-column-start: 1; grid-row-end: 1; grid-row-start: 1; grid-area: box-one;
  }
  &:nth-child(2) {
    height: 200px; grid-column-end: 1; grid-column-start: 1; grid-row-end: 2; grid-row-start: 2; grid-area: box-two;
  }
  &:nth-child(3) {
    height: 200px; grid-column-end: 1; grid-column-start: 1; grid-row-end: 3; grid-row-start: 3; grid-area: box-three;
  }
  &:nth-child(4) {
    height: 200px; grid-column-end: 1; grid-column-start: 1; grid-row-end: 4; grid-row-start: 4; grid-area: box-four;
  }
  @media all and (min-width: 768px) {
    &__img {
      img {
        width: auto;
      }
    }
    &:hover {
      &__img {
        img {
          @include transform(scale(1.04));
        }
      }
    }
    &:first-child {
      height: 200px; grid-column-end: 1; grid-column-start: 1; grid-row-end: 1; grid-row-start: 1; grid-area: box-one;
    }
    &:nth-child(2) {
      height: 200px; grid-column-end: 1; grid-column-start: 1; grid-row-end: 2; grid-row-start: 2; grid-area: box-two;
    }
    &:nth-child(3) {
      height: 200px; grid-column-end: 2; grid-column-start: 2; grid-row-end: 1; grid-row-start: 1; grid-area: box-three;
    }
    &:nth-child(4) {
      height: 200px; grid-column-end: 2; grid-column-start: 2; grid-row-end: 2; grid-row-start: 2; grid-area: box-four;
    }
  }
  @media all and (min-width: 1216px) {
    &:first-child {
      height: 400px; grid-column-end: 1; grid-column-start: 1; grid-row-end: 2; grid-row-start: 1; grid-area: box-one;
    }
    &:nth-child(2) {
      height: 195px; grid-column-end: 2; grid-column-start: 2; grid-row-end: 1; grid-row-start: 1; grid-area: box-two;
    }
    &:nth-child(3) {
      height: 195px; grid-column-end: 2; grid-column-start: 2; grid-row-end: 2; grid-row-start: 2; grid-area: box-three;
    }
    &:nth-child(4) {
      height: 400px; grid-column-end: 3; grid-column-start: 3; grid-row-end: 2; grid-row-start: 1; grid-area: box-four;
    }
  }
}

// gridContainer
.gridFeatured {
  display: -ms-grid; display: grid; grid-auto-columns: 1fr; -ms-grid-columns: 1fr 1fr; grid-template-columns: 1fr 1fr; -ms-grid-rows: auto auto; grid-template-rows: auto auto; grid-row-gap: 10px; grid-column-gap: 10px; height: auto; margin-top: 0!important; padding: 0; width: 100%;
  grid-template-areas: "box-one" "box-two" "box-three" "box-four"; -ms-grid-columns: 1fr; grid-template-columns: 1fr; -ms-grid-rows: 1fr auto auto auto; grid-template-rows: 1fr auto auto auto;
  @media all and (min-width: 768px) {
    grid-template-areas: "box-one box-two" "box-three box-four"; -ms-grid-columns: 1fr 1fr; grid-template-columns: 1fr 1fr;
  }
  @media all and (min-width: 1216px) {
    grid-template-areas: "box-one box-two box-four" "box-one box-three box-four"; -ms-grid-columns: 1fr 1fr 1fr; grid-template-columns: 1fr 1fr 1fr; -ms-grid-rows: auto auto; grid-template-rows: auto auto;
  }
}

// Grid textImage
.textGridContent {
  width: 100%; height: auto; padding: 0; margin: 0 0 20px; @include displayFlex(flex, row, center, center, wrap); position: relative; @include box-sizing(border-box); background-color: $col3;
  &__image {
    width: 100%; margin: 0; padding: 0; position: relative; overflow: hidden;
    & .feature-row__image-wrapper {
      margin: 0!important;
    }
    & img {
      width: auto; height: auto; display: block; margin: 0 auto; object-fit: cover; font-family: "object-fit: cover"; position: relative; z-index: 1; @include transform(scale(1.0)); @include transition(transform 400ms);
    }
  }
  &__text {
    width: 100%; height: auto; padding: 30px 30px; margin: 0; position: relative; @include box-sizing(border-box); text-align: center;
    & p {
      color: $c5; @include fluid-type(16px, 28px, 320px, 1216px); padding: 0; margin: 0;
      & strong,
      & b {
        font-family: $monbold;
      }
    }
    & .rte-setting {
      margin-bottom: 0!important;
    }
    & .btnpr {
      margin-top: 30px; margin-bottom: 0;
    }
  }
  &:after {
    content: ''; border-bottom: 1px solid $c2; width: 100%; height: auto; @include position(absolute, null null -20px 0);
  }
  @media all and (min-width: 768px) {
    &__image {
      width: 50%;
    }
    &__text {
      width: 50%; padding: 0 30px;
    }
  }
}
.alignText-left {
  .textGridContent__image {
    @include order(1);
  }
  .textGridContent__text {
    @include order(2);
  }
}
.alignText-right {
  .textGridContent__image {
    @include order(2);
  }
  .textGridContent__text {
    @include order(1);
  }
}

// Producto Box
.prodListGrid {
  width: 100%; height: auto; background-color: transparent; @include box-sizing(border-box); padding: 0; margin: 0; position: relative; overflow: hidden; box-shadow: none;
  &__img {
    width: 100%; height: 155px; position: relative; overflow: hidden; padding: 0; margin: 0; background-color: $white;
    img {
      width: 100%; height: auto; display: block; margin: 0 auto; object-fit: cover; font-family: "object-fit: cover"; @include position(absolute, 0 null null 50%); z-index: 1; @include transform(scale(1.0) translateX(-50%)); @include transition(transform 400ms);
    }
    a {
      @extend .overlayClassAbs; z-index: 2; text-indent: -9999px; font-size: 0;
    }
    &:hover {
      img {
        @include transform(scale(1.04) translateX(-50%));
      }
    }
  }
  &__cap {
    width: 100%; height: 90px; padding: 0 10px; margin: 0; @include box-sizing(border-box); position: relative; background-color: $col1; @include displayFlex(flex, column, center, center, wrap);
    .price {
      &__badges {
        display: none;
        &--listing {
          margin-top: 0;
        }
      }
      &__compare {
        margin-right: 0;
        & .price-item {
          @include fluid-type(13px, 16px, 320px, 1216px);
          &--regular {
            color: $col5!important;
          }
        }
      }
      &__sale {
        margin-right: 0;
        & .price-item {
          @include fluid-type(13px, 16px, 320px, 1216px);
        }
      }
      &__regular {
        margin-right: 0;
        & .price-item {
          @include fluid-type(13px, 16px, 320px, 1216px);
        }
      }
    }
  }
  & .btnpr  {
    width: 100%;
  }
  &.sold-out-prod {
    & .btnpr  {
      opacity: 0.85; cursor: none; pointer-events: none;
    }
  }
  @media all and (min-width: 566px) {
    &__img {
      height: 155px;
    }
    &__cap {
      padding: 0 20px;
    }
  }
  @media all and (min-width: 768px) {
    &__img {
      height: 208px;
    }
  }
  @media all and (min-width: 1024px) {
    &__img {
      height: 245px;
    }
  }
  @media all and (min-width: 1216px) {
    &__img {
      height: 250px;
    }
  }
}
.heightBoxProd {
  & .prodListGrid__img {
     height: 155px;
    img {
      width: 100%; height: auto; display: block; margin: 0 auto; object-fit: cover; font-family: "object-fit: cover"; @include position(absolute, 0 null null 50%); z-index: 1; @include transform(scale(1.0) translateX(-50%)); @include transition(transform 400ms);
    }
    &:hover {
      img {
        @include transform(scale(1.04) translateX(-50%));
      }
    }
  }
  @media all and (min-width: 566px) {
    & .prodListGrid__img {
      height: 155px;
    }
  }
  @media all and (min-width: 768px) {
    & .prodListGrid__img {
      height: 208px;
    }
  }
  @media all and (min-width: 1024px) {
    & .prodListGrid__img {
      height: 245px;
    }
  }
  @media all and (min-width: 1216px) {
    & .prodListGrid__img {
      height: 410px;
    }
  }
}
.titleProd {
  @include fluid-type(14px, 18px, 320px, 1216px); margin: 0 0 5px; padding: 0; text-align: center; font-family: $monregular; color: $c5;
  & a {
    color: $c5; @include transition(all 300ms ease);
    &:hover {
      color: $c4;
    }
  }
}
.addToCart {
  width: 100%; height: auto; padding: 0; margin: 0; position: relative;
  form {
    width: 100%; height: auto; padding: 0; margin: 0;
    & label {
      display: none;
    }
    & button {
      background-color: $c5!important; color: $col1!important; border: 1px solid $c5!important; height: 40px!important; font-size: rem(11px)!important; line-height: 1!important; padding: 0 10px!important; margin: 0 0 0!important;
      &:hover {
        background-color: $c4!important; color: $col1!important;
      }
    }
    @media all and (min-width: 566px) {
      & button {
        font-size: rem(12px)!important; height: 40px!important;
      }
    }
    @media all and (min-width: 769px) {
      & button {
        height: 46px!important; line-height: 46px!important; padding: 0 30px!important; font-size: rem(13px)!important;
      }
    }
  }
}

// Pagination
.paginationCosmetics {
  width: 100%; height: auto; padding: 0; margin: 0 0 30px; position: relative; @include box-sizing(border-box); @include displayFlex(flex, row, center, center, wrap);
  &__button {
    & .btnPag {
      border: none; width: 20px; height: 20px; display: block; background-color: $col3; color: $col5; padding: 0; margin: 0; line-height: 20px; font-size: 11px!important; outline: 0; text-align: center;
    }
    &[aria-hidden="true"] {
      opacity: 0.85;
    }
  }
  &__text {
    color: $c5; font-size: 14px!important; font-family: $monsemi!important; margin: 0 10px; padding: 0;
  }
}

// My Account box
.boxMyAccount {
  width: 100%; height: auto; padding: 0; margin: 0 0 10px; position: relative; @include box-sizing(border-box);
  & h2 {
    @include fluid-type(16px, 22px, 320px, 1216px); margin: 0 0 15px; padding: 0; text-align: left; text-transform: uppercase; color: $c5; outline: 0!important; font-family: $monsemi!important;
  }
}
.boxAccountDetails {
  width: 100%; height: auto; padding: 10px; margin: 0 0 10px; position: relative; @include box-sizing(border-box); box-shadow: 0 0 10px rgba($black, 0.15);
  & h2 {
    @include fluid-type(16px, 22px, 320px, 1216px); margin: 0 0 15px; padding: 0; text-align: left; text-transform: uppercase; color: $c5; outline: 0!important; font-family: $monsemi!important;
  }
  & p {
    @include fluid-type(13px, 15px, 320px, 1216px); color: $c5!important; margin: 0 0 10px;
  }
  & .btnpr {
    margin: 0;
  }
}
.boxFormAdressEdit {
  width: 100%; height: auto; padding: 10px; margin: 0 0 30px; position: relative; @include box-sizing(border-box); box-shadow: 0 0 10px rgba($black, 0.15);
  & h2 {
    @include fluid-type(16px, 22px, 320px, 1216px); margin: 0 0 15px; padding: 0; text-align: center; text-transform: uppercase; color: $c5; outline: 0!important; font-family: $monsemi!important;
  }
  & .descAddress {
    width: 100%; height: auto; padding: 0; margin: 0 0 10px; position: relative; @include box-sizing(border-box);
    & p {
      text-align: center; @include fluid-type(13px, 15px, 320px, 1216px); color: $c5!important; margin: 0;
      & a {
        color: $col6!important; @include transition(all 300ms ease);
        &:hover {
          color: $col4!important;
        }
      }
    }
  }
  & .buttonsEditAdd {
    width: 100%; height: auto; padding: 0; margin: 0; position: relative; @include box-sizing(border-box); text-align: center;
    & .btnpr {
      margin: 0 6px 0; height: 40px!important; line-height: 38px!important; padding: 0 20px!important; font-size: rem(11px)!important; width: 100px!important; display: inline-block;
      &:last-child {
        margin: 0;
      }
      & i {
        width: 15px; font-size: 11px;
      }
    }
  }
}
.formEditAdress {
  width: 100%; height: auto; padding: 0; margin: 0; position: relative; @include box-sizing(border-box);
  & h3 {
    @include fluid-type(14px, 17px, 320px, 1216px); margin: 0 0 15px; padding: 0; text-align: left; text-transform: uppercase; color: $c5; outline: 0!important; font-family: $monsemi!important;
  }
  & hr {
     margin: 20px 0 30px; border-bottom: 1px solid $c2;
  }
  & .fieldCheck  {
    margin-bottom: 10px;
  }
  & .buttonsForms {
    width: 100%; height: auto; padding: 0; margin: 0; position: relative; @include box-sizing(border-box); text-align: center;
    & .btnpr {
      margin: 0 0 10px; height: 40px!important; line-height: 38px!important; padding: 0 20px!important; font-size: rem(11px)!important; width: 200px!important; display: inline-block;
      &:last-child {
        margin: 0; width: 110px!important;
      }
      & i {
        width: 15px; font-size: 11px;
      }
    }
  }
  @media all and (min-width: 347px) {
    & .buttonsForms {
      & .btnpr {
        margin: 0 6px 0;
        &:last-child {
          margin: 0;
        }
      }
    }
  }
}

// Box Error page 404
.boxError {
  width: 100%; height: auto; padding: 0; margin: 0; position: relative; @include box-sizing(border-box);
  & h1 {
    @include fluid-type(20px, 40px, 320px, 1216px); margin: 0 0 20px; padding: 0; text-align: center; text-transform: uppercase; color: $c5; outline: 0!important;
  }
  & p {
    text-align: center; @include fluid-type(14px, 18px, 320px, 1216px); color: $c5!important; margin: 0 0 15px;
  }
  & .btnpr {
    width: 250px!important;
  }
}

// Box Cart Template Section
.boxFormCart {
  width: 100%; height: auto; padding: 0; margin: 0; position: relative; @include box-sizing(border-box);
  & table {
    & th {
      border: 1px solid $c3; border-width: 0 0 2px; font-family: $monmedium!important; color: $c4; @include fluid-type(16px, 20px, 320px, 1216px);
    }
    & td {
      border: 1px solid $c2; border-width: 0 0 1px; color: $black; @include fluid-type(14px, 20px, 320px, 1216px);
    }
  }
  & .buttonsFormsCart {
    @include displayFlex(flex, column, center, center, wrap);
    & .btnpr {
      width: 200px!important; margin: 0 0 10px; height: 40px!important; line-height: 40px!important; padding: 0 20px!important; font-size: rem(13px)!important;
      &:last-child {
        margin: 0;
      }
    }
  }
  & .cart-subtotal {
    &__title {
      color: $c5; @include fluid-type(14px, 20px, 320px, 1216px); font-family: $monmedium!important;
    }
    &__price {
      color: $c4; @include fluid-type(14px, 20px, 320px, 1216px); font-family: $monmedium!important;
    }
  }
  & .cart__shipping {
    color: $c4; @include fluid-type(12px, 16px, 320px, 1216px);
  }
  @media all and (min-width: 347px) {
    & .buttonsFormsCart {
      & .btnpr {
        width: 220px!important;
      }
    }
  }
  @media all and (min-width: 750px) {
    & .buttonsFormsCart {
      @include displayFlex(flex, row, flex-end, center, wrap);
      & .btnpr {
        margin: 0 6px 0; height: 46px!important; line-height: 46px!important; padding: 0 30px!important; font-size: rem(13px)!important;
        &:last-child {
          margin: 0;
        }
      }
    }
  }
}
.boxEmptyCart {
  width: 100%; height: auto; padding: 0; margin: 60px 0 0; position: relative; @include box-sizing(border-box);
  & h1 {
    @include fluid-type(20px, 40px, 320px, 1216px); margin: 0 0 20px; padding: 0; text-align: center; text-transform: uppercase; color: $c5; outline: 0!important;
  }
  & p {
    text-align: center; @include fluid-type(14px, 18px, 320px, 1216px); color: $c5!important; margin: 0 0 15px;
  }
  & .btnpr {
    width: 250px!important;
  }
}