/* ==|====================
   Modules/Inputs
   ======================= */

  form {
    @include margin(30px null 20px null);
    label {
      font-size: rem(14px); color: $white;
      a {
        color: $col1; text-decoration: none;
        &:hover {
          color: $col2;
        }
      }
    }
    fieldset {
      position: relative;
    }
    & .animatedField {
      position: relative; width: 100%; height: 41px; line-height: 41px;
      & label {
        @include position(absolute, 0 null null 0); width: 100%; color: $col6; cursor: text; @include transition(0.2s all); margin: 0; padding: 0 5px; height: calc(100% + 1px);
      }
      & input[type="text"],
      & input[type="email"],
      & input[type="tel"],
      & input[type="search"],
      & input[type="password"] {
        width: 100%; border: 0; outline: 0; padding: 12px 5px 7px; height: 40px; border-bottom: 1px solid $col6; box-shadow: none; background-color: $col1!important; border-radius: 0!important; @include fluid-type(13px, 15px, 320px, 1200px); margin-bottom: 0; @include box-sizing(border-box);
        &:invalid {
          outline: 0;
        }
        &:focus,
        &:valid,
        &.error-line {
          border-color: $col6;
        }
        &:focus ~ label,
        &:valid ~ label,
        &.error-line ~ label {
          font-size: rem(11px); top: -13px; color: $col6;
        }
      }
      textarea {
        width: 100%; border: 0; outline: 0; padding: 12px 5px 7px; height: auto; border-bottom: 1px solid $col6; box-shadow: none; background-color: $col1!important; border-radius: 0!important; @include fluid-type(13px, 15px, 320px, 1200px); margin-bottom: 0; @include box-sizing(border-box);
        &:invalid {
          outline: 0;
        }
        &:focus,
        &:valid,
        &.error-line {
          border-color: $col6;
        }
        &:focus ~ label,
        &:valid ~ label,
        &.error-line ~ label {
          font-size: rem(11px); top: -13px; color: $col6;
        }
      }
      @media all and (min-width: 769px) {
        height: 50px; line-height: 50px;
        & input[type="text"],
        & input[type="email"],
        & input[type="tel"],
        & input[type="password"],
        & input[type="search"] {
          height: 50px;
          &:focus ~ label,
          &:valid ~ label,
          &.error-line ~ label {
            top: -16px;
          }
        }
        textarea {
          &:focus ~ label,
          &:valid ~ label,
          &.error-line ~ label {
            top: -16px;
          }
        }
      }
    }
    & .animatedTextArea {
      position: relative; width: 100%; height: auto;
      & label {
        @include position(absolute, 10px null null 0); width: 100%; color: $col6; cursor: text; @include transition(0.2s all); margin: 0; padding: 0 5px; height: calc(100% + 1px);
      }
      textarea {
        width: 100%; border: 0; outline: 0; padding: 12px 5px 7px; height: auto; border-bottom: 1px solid $col6; box-shadow: none; background-color: $col1!important; border-radius: 0!important; @include fluid-type(13px, 15px, 320px, 1200px); margin-bottom: 0; @include box-sizing(border-box);
        &:invalid {
          outline: 0;
        }
        &:focus,
        &:valid,
        &.error-line {
          border-color: $col6;
        }
        &:focus ~ label,
        &:valid ~ label,
        &.error-line ~ label {
          font-size: rem(11px); top: -1px; color: $col6;
        }
      }
      @media all and (min-width: 769px) {
        textarea {
          &:focus ~ label,
          &:valid ~ label,
          &.error-line ~ label {
            top: -2px;
          }
        }
      }
    }
    button[type="submit"], input[type="submit"], button[type="button"], input[type="button"] {
      width: auto; height: 40px; padding: 0 10px; margin: 0 0 0 0; text-transform: uppercase; text-align: center; color: $col1; display: inline-block; border: none; @include box-sizing(border-box); line-height: 40px; font-size: rem(14px); cursor: pointer; position: relative; overflow: hidden; border-radius: 0; background-color: $col6; @include transition(all 0.23s); box-shadow: 0; letter-spacing: 0; font-family: $monbold;
      &:hover {
        background-color: $col5; color: $white;
      }
    }
    @media all and (min-width: 769px) {
      button[type="submit"], input[type="submit"], button[type="button"], input[type="button"] {
        height: 50px; padding: 0 15px; line-height: 50px; font-size: rem(16px);
      }
    }
  }

  .select-group {
    & select {
      background-color: $col2!important; border-bottom: 1px solid $col6; @include fluid-type(13px, 16px, 320px, 1216px); border-radius: 0; color: $col6!important; font-family: $monregular; outline: 0!important;
      &:focus {
        border-color: transparent!important;
      }
    }
  }
  .addressSel {
    position: relative;
    & select {
      height: 50px; width: 100%;
    }
    & .icon-chevron-down {
      width: 10px; height: 10px; right: 8px!important; fill: $col6!important; z-index: 1!important; @include position(absolute, 50% null null null); @include transform(translateY(-50%));
    }
  }
  .filters-toolbar__label {
    font-family: $monregular; font-size: 14px!important; color: $c5!important;
  }
  .filters-toolbar__product-count {
    font-size: 14px!important; font-family: $monregular!important; color: $c5!important;
  }

  .descForm {
    width: 100%; height: auto; padding: 0; margin: 0 0 15px 0; position: relative; text-align: center;
    h1, h2, h3, h4, h5, h6 {
      text-align: left; margin-bottom: 10px;
    }
    p { text-align: left; margin: 0; }
  }
  .optionsForm {
    width: 100%; height: auto; padding: 0; margin: 30px 0 15px; position: relative; text-align: center;
    p { text-align: left; margin: 0 0 8px 0; @include fluid-type(12px, 14px, 320px, 1200px); }
    a {
      color: $col1; text-decoration: none;
      &:hover {
        color: $col2;
      }
    }
  }
  // Checbox Custom
  .CheckStyle {
    position: absolute; opacity: 0;
    & ~ label {
      position: relative; cursor: pointer; padding: 0; color: $c5; @include fluid-type(11px, 13px, 320px, 1200px);
      & a {
        color: $col6!important; @include transition(all 300ms);
        &:hover {
          color: $col5;
        }
      }
    }
    & ~ label:before {
      content: ''; margin-right: 10px; display: inline-block; vertical-align: text-top; width: 15px; height: 15px; background: transparent; border: solid $white 1px; @include box-sizing(border-box); @include transition(all 0.25s ease); border-radius: 50%; box-shadow: 0 0 0 2px rgba($col5, 0.95);
    }
    &:hover ~ label:before {
      background: rgba($col5, 0.35);
    }
    &:focus ~ label:before {
      box-shadow: 0 0 0 2px rgba($col5, 0.95);
    }
    &:checked ~ label:before {
      background: rgba($col5, 0.10);
    }
    &:disabled ~ label {
      color: #b8b8b8;
      cursor: auto;
    }
    &:disabled ~ label:before {
      box-shadow: none;
      background: #ddd;
    }
    &:checked ~ label:after {
      content: ''; background: $col5; width: 15px; height: 15px; border-radius: 50%; @include position(absolute, 1px null null 0); box-shadow: 0 0 0 2px rgba($col5, 0.90); border: solid $white 1px;
    }
  }
  // Checbox Custom IMAGE
  .checkImg {
    position: absolute; opacity: 0;
    & ~ label {
      position: relative; padding: 0; margin: 0; cursor: pointer; display: block; color: $col6; @include fluid-type(12px, 13px, 320px, 1200px); text-align: center;
    }
    & ~ label:before {
      width: 50px; height: 50px; border: none; border-radius: 50%; display: block; margin: 0 auto 10px; line-height: 50px; text-align: center; box-shadow: 0 2px 4px rgba($black, 0.35); font-size: rem(30px); @include transition(all 300ms); color: $col1;
    }
    &:checked ~ label:before {
      background-color: $col1; color: $white;
    }
    &:disabled ~ label {
      color: #b8b8b8; cursor: auto;
    }
    &:disabled ~ label:before {
      background-color: $white; color: $col1;
    }
  }
// Radio buttons Cusotm Img
.radioCustom:checked,
.radioCustom:not(:checked) {
  position: absolute; left: -9999px;
}
.radioCustom:checked + label,
.radioCustom:not(:checked) + label {
  position: relative; padding: 0; margin: 0; cursor: pointer; display: block; color: $col6; @include fluid-type(12px, 13px, 320px, 1200px);
}
.radioCustom:checked + label:before,
.radioCustom:not(:checked) + label:before {
  width: 50px; height: 50px; border: none; border-radius: 50%; display: block; margin: 0 auto 10px; line-height: 50px; text-align: center; box-shadow: 0 2px 4px rgba($black, 0.35); font-size: rem(30px); @include transition(all 300ms);
}
.radioCustom:not(:checked) + label:before {
  background-color: $white; color: $col1;
}
.radioCustom:checked + label:before {
  background-color: $col1; color: $white;
}
