/* ==|====================
   Modules/Inputs
   ======================= */

  form {
    @include margin(30px null 20px null);
    label {
      font-size: rem(14px); color: $white;
      a {
        color: $col1; text-decoration: none;
        &:hover {
          color: $col2;
        }
      }
    }
    fieldset {
      position: relative;
    }
    & .animatedField {
      position: relative; width: 100%; height: 41px; line-height: 41px;
      & label {
        @include position(absolute, 0 null null 0); width: 100%; color: $col6; cursor: text; @include transition(0.2s all); margin: 0; padding: 0 5px; height: calc(100% + 1px);
      }
     & input[type="text"],
     & input[type="email"],
     & input[type="tel"],
     & input[type="password"] {
        width: 100%; border: 0; outline: 0; padding: 12px 5px 7px; height: 40px; border-bottom: 1px solid $col6; box-shadow: none; background-color: $col1!important; border-radius: 0!important; @include fluid-type(13px, 15px, 320px, 1200px); margin-bottom: 0; @include box-sizing(border-box);
        &:invalid {
          outline: 0;
        }
        &:focus,
        &:valid,
        &.error-line {
          border-color: $col6;
        }
        &:focus ~ label,
        &:valid ~ label,
        &.error-line ~ label {
          font-size: rem(11px); top: -13px; color: $col6;
        }
      }
      @media all and (min-width: 769px) {
        height: 50px; line-height: 50px;
        & input[type="text"],
        & input[type="email"],
        & input[type="tel"],
        & input[type="password"] {
          height: 50px;
          &:focus ~ label,
          &:valid ~ label,
          &.error-line ~ label {
            top: -16px;
          }
        }
      }
    }
    // input[type="text"], input[type="email"] {
    //   background-color: $white!important; border: 1px solid $white!important; border-radius: 0!important; box-shadow: 0 0 5px rgba($black, 0.55);
    //   &:focus {
    //     border-color: $col1; outline: 0; box-shadow: 0 0 0 0.2rem rgba(147, 71, 21, 0.15);
    //   }
    //   &.error-line {
    //     border-color: red!important; outline: 0; box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.15);
    //   }
    //   @include placeholder {
    //     color: $c5;
    //   }
    // }
    // textarea {
    //   background-color: $white!important; border: 1px solid $white!important; border-radius: 20px!important; box-shadow: 0 0 5px rgba($black, 0.20); width: 100%; height: auto; @include box-sizing(border-box); padding: 20px;
    //   &:focus {
    //     border-color: $col2!important; outline: 0; box-shadow: 0 0 0 0.2rem rgba(238, 116, 34, 0.15)!important;
    //   }
    //   &.error-line {
    //     border-color: red!important; outline: 0; box-shadow: 0 0 0 0.2rem rgba(238, 116, 34, 0.15)!important;
    //   }
    //   @include placeholder {
    //     color: $c7; font-size: rem(24px); font-weight: 900;
    //   }
    // }
    button[type="submit"], input[type="submit"] {
      width: auto; height: 40px; padding: 0 10px; margin: 0 0 0 0; text-transform: uppercase; text-align: center; color: $col1; display: inline-block; border: none; @include box-sizing(border-box); line-height: 40px; font-size: rem(14px); cursor: pointer; position: relative; overflow: hidden; border-radius: 0; background-color: $col6; @include transition(all 0.23s); box-shadow: 0; letter-spacing: 0; font-family: $monbold;
      &:hover {
        background-color: $col5; color: $white;
      }
    }
    @media all and (min-width: 769px) {
      button[type="submit"], input[type="submit"] {
        height: 50px; padding: 0 15px; line-height: 50px; font-size: rem(16px);
      }
    }
  }

  .select-group {
    & select {
      background-color: $col2!important; border-bottom: 1px solid $col6; @include fluid-type(13px, 16px, 320px, 1216px); border-radius: 0; color: $col6!important; font-family: $monregular;
      &:focus {
        border-color: transparent!important;
      }
    }
  }
  .filters-toolbar__label {
    font-family: $monregular; font-size: 14px!important; color: $c5!important;
  }
  .filters-toolbar__product-count {
    font-size: 14px!important; font-family: $monregular!important; color: $c5!important;
  }

  .form-group {
    margin-bottom: 15px;
  }

  .descForm {
    width: 100%; height: auto; padding: 0; margin: 0 0 15px 0; position: relative; text-align: center;
    h1, h2, h3, h4, h5, h6 {
      text-align: left; margin-bottom: 10px;
    }
    p { text-align: left; margin: 0; }
  }
  .optionsForm {
    width: 100%; height: auto; padding: 0; margin: 30px 0 15px; position: relative; text-align: center;
    p { text-align: left; margin: 0 0 8px 0; @include fluid-type(12px, 14px, 320px, 1200px); }
    a {
      color: $col1; text-decoration: none;
      &:hover {
        color: $col2;
      }
    }
  }
  // Checbox Custom
  .CheckStyle {
    position: absolute; opacity: 0;
    & ~ label {
      position: relative; cursor: pointer; padding: 0; color: $col6; @include fluid-type(11px, 13px, 320px, 1200px);
    }
    & ~ label:before {
      content: ''; margin-right: 10px; display: inline-block; vertical-align: text-top; width: 15px; height: 15px; background: transparent; border: solid $white 1px; @include box-sizing(border-box); @include transition(all 0.25s ease); border-radius: 50%; box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.12);
    }
    &:hover ~ label:before {
      background: rgba($col6, 0.35);
    }
    &:focus ~ label:before {
      box-shadow: 0 0 0 3px rgba($col6, 0.12);
    }
    &:checked ~ label:before {
      background: rgba($col6, 0.10);
    }
    &:disabled ~ label {
      color: #b8b8b8;
      cursor: auto;
    }
    &:disabled ~ label:before {
      box-shadow: none;
      background: #ddd;
    }
    &:checked ~ label:after {
      content: ''; background: $col1; width: 15px; height: 15px; border-radius: 50%; @include position(absolute, 1px null null 0); box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.08);
    }
  }
  // Checbox Custom IMAGE
  .checkImg {
    position: absolute; opacity: 0;
    & ~ label {
      position: relative; padding: 0; margin: 0; cursor: pointer; display: block; color: $col6; @include fluid-type(12px, 13px, 320px, 1200px); text-align: center;
    }
    & ~ label:before {
      width: 50px; height: 50px; border: none; border-radius: 50%; display: block; margin: 0 auto 10px; line-height: 50px; text-align: center; box-shadow: 0 2px 4px rgba($black, 0.35); font-size: rem(30px); @include transition(all 300ms); color: $col1;
    }
    &:checked ~ label:before {
      background-color: $col1; color: $white;
    }
    &:disabled ~ label {
      color: #b8b8b8; cursor: auto;
    }
    &:disabled ~ label:before {
      background-color: $white; color: $col1;
    }
  }
// Radio buttons Cusotm Img
.radioCustom:checked,
.radioCustom:not(:checked) {
  position: absolute; left: -9999px;
}
.radioCustom:checked + label,
.radioCustom:not(:checked) + label {
  position: relative; padding: 0; margin: 0; cursor: pointer; display: block; color: $col6; @include fluid-type(12px, 13px, 320px, 1200px);
}
.radioCustom:checked + label:before,
.radioCustom:not(:checked) + label:before {
  width: 50px; height: 50px; border: none; border-radius: 50%; display: block; margin: 0 auto 10px; line-height: 50px; text-align: center; box-shadow: 0 2px 4px rgba($black, 0.35); font-size: rem(30px); @include transition(all 300ms);
}
.radioCustom:not(:checked) + label:before {
  background-color: $white; color: $col1;
}
.radioCustom:checked + label:before {
  background-color: $col1; color: $white;
}
