@charset 'UTF-8';

// Core
// @import "./core/forms";
// @import "./core/helpers";
// @import "./core/layout";
// @import "./core/rte";
// @import "./core/typography";

// Components
// @import "./components/buttons";
// @import "./components/hero-banner";
// @import "./components/icons";
// @import "./components/placeholders";
// @import "./components/responsive-images";
// @import "./components/address-forms";

// Libs
@import "./bulma/index";

// Tools
@import "./tools/bourbon/app/assets/stylesheets/bourbon";

// Settings
@import "./variables";

// Core
@import "./core/typography";

/* Layouts */
@import "./layout/header";
@import "./layout/nav";
@import "./layout/main";
@import "./layout/footer";

/* Modules */
@import "./modules/box";
@import "./modules/inputs";
@import "./modules/buttons";
@import "./components/hero-banner";
@import "./components/responsive-images";
@import "./components/address-forms";

// Sections
@import "./sections/collection-list";
@import "./sections/featured-collection";
@import "./sections/image-with-text";

// Templates
@import "./templates/gift_card";
@import "./templates/product";

/* Recursos */
@import "./icons/main";
