<section class="errorPage">
  <div class="container">
    <div class="columns">
      <div class="column is-full">
        <div class="boxError">
          <h1>{{ 'general.404.title' | t }}</h1>
          <p>{{ 'general.404.subtext' | t }}</p>
          <div class="text-center">
            <a href="{{ routes.root_url }}" class="btnpr btnpr__primary btnpr__primary--borderBlack"><span>{{ 'general.404.link' | t }}</span><i class="lni lni-chevron-right"></i></a>
          </div>
        </div><!-- end.boxError -->
      </div><!-- end.column -->
    </div><!-- end.columns -->
  </div><!-- end.container -->
</section><!-- end.errorPage -->
